.container
  .row
    .col-sm-3
      =link_to image_tag('lms_logo.jpg', alt: 'Lightman School',  size: '288x162'), url_for(controller: :pages, action: :home)
    .col-sm-7.col-sm-offset-2
      .row.logo-style
        
        .col-sm-12
          %p.lead +38 (093) 149 20 38
        .col-sm-12
          %hp.lead +38 (067) 486 03 69
      