%h1 Учебные предметы

.container-fluid
  - @subjects.each do |subject|
    .row
      .col-sm-2.text-center
        - if subject.cover.present?
          = image_tag subject.cover.preview
        - else
          = subject.title
      .col-sm-10
        = raw subject.content
    %br
    

