%h1 Учебные предметы

.container-fluid
  - @subjects.each do |subject|
    .row
      .col-md-2
        - if subject.cover.present?
          = image_tag subject.cover.preview
        - else
          = subject.title
      .col-md-10
        = raw subject.content
    

